.timeline {
  width: 30%;
  margin: auto;
  text-align: left;
}

ul {
  list-style-type: none;
  width: 60%;
  border: 1px solid #d0d0e1;
  padding-right: 40px;
  background-color: white;
}

li {
  border-bottom: 2px solid #d0d0e1;
  margin-top: 1em;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}
