
.App-header {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIFZ745jHURSEsoYESWPte3icLCXKCxQwUG9vrXnMxoslXn86i");
  padding-bottom: 0.5rem;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  position: fixed;
  width: 100%;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-main {
  padding-top: 7rem;
  background-color: #E6ECF0;
}

* {
  list-style: none;
}


big {
  background-color: #D8BFD8;
}

#rightSide {
  text-align: right;
  color: green;
}

p {
  padding-left: 3rem;
  padding-top: none;
  padding-bottom: 0.5rem;
}
